{% extends 'base.html' %}
{% load static %}

{% block body_page %}
    <section class="user-form-part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">
                    <div class="user-form-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/img/logo.png' %}" alt="لوگو">
                        </a>
                    </div>

                    <div class="user-form-card">
                        <div class="user-form-title">
                            <h2>خوش آمدید!</h2>
                        </div>

                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% for item in form %}
                                <div class="form-group">
                                    {{ item.label_tag }}
                                    {{ item }}
                                </div>
                            {% endfor %}
                            

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="remember">
                                        <label class="form-check-label" for="remember">
                                            مرا به خاطر بسپار
                                        </label>
                                    </div>
                                </div>

                                <div class="col-6 text-end">
                                    <a href="#" class="forgot-pass">رمز عبور خود را فراموش
                                        کرده اید؟</a>
                                </div>
                            </div>

                            <div class="form-button">
                                <button type="submit">ورود</button>
                                <p>حساب ندارید؟ <a href="{% url 'register' %}">ثبت نام.</a></p>
                            </div>
                        </form>
                    </div>

                    <div class="user-form-footer">
                        <p>© کپی رایت 1400 توسط <a href="{% url 'home' %}">ارگانیک.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}{% endblock %}
