{% extends '_layout_shop.html' %}
{% load static %}

{% block body_page %}
    <section class="inner-section profile-part mt-5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-8">
                    <div class="account-card">

                        <div class="account-title text-center mb-4">
                            <h4>مشخصات شما</h4>
                        </div>

                        <div class="account-content">
                            <div class="row align-items-center">

                                <div class="col-lg-3 text-center mb-3">
                                    <div class="profile-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/user.jpg' %}" alt="کاربر"
                                                 class="img-fluid rounded-circle">
                                        </a>
                                    </div>
                                </div>


                                <form method="post" action="{% url 'update_user' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <div class="form-group mt-3 d-flex justify-content-between">
                                        <button type="submit" class="btn btn-secondary">ویرایش پروفایل</button>
                                        <a href="{% url 'update_password' %}" class="btn btn-success">ویرایش رمز
                                            عبور</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}{% endblock %}
