{% extends 'base.html' %}
{% load static %}

{% block body_page %}

<section class="user-form-part mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-5">

                <div class="user-form-logo text-center mb-4">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/img/logo.png' %}" alt="لوگو" class="img-fluid">
                    </a>
                </div>

                <div class="user-form-card p-4 shadow rounded">

                    <div class="user-form-title text-center mb-4">
                        <h2 class="mb-2">رمز عبور را تغییر دهید!</h2>
                        <p>رمز ورود معتبر خود را وارد کنید</p>
                    </div>

                    <form method="post" action="{% url 'update_password' %}">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="form-button mt-4 d-grid gap-2">

                            <button type="submit" class="btn btn-primary">رمز عبور را تغییر دهید</button>

                            <p class="mt-3">حساب ندارید؟ <a href="{% url 'register' %}">ثبت نام.</a></p>
                        </div>
                    </form>
                </div>

                <div class="user-form-footer text-center mt-3">
                    <p>© کپی رایت 1400 توسط <a href="{% url 'home' %}">ارگانیک.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}{% endblock %}
