{% load static %}

<section class="home-index-slider slider-arrow slider-dots">
    
    <div class="banner-part banner-1">
        <div class="container">
            <div class="row align-items-center rtl">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>برای اولین خرید خود 10٪ تخفیف بگیرید</h1>
                        <p>تعداد زیادی از معابر سنگ معدن سنگ معدن کوهی در دسترس است اما اکثریت آنها با طنز تزریق شده یا
                            کلمات تصادفی تغییر شکل داده اند که حتی کمی هم به نظر نمی رسند.</p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="shop-grid.html"><i class="far fa-shopping-cart"></i><span>الان خرید کن</span></a>
                            <a class="btn btn-outline" href="offer.html"><i class="far fa-badge-percent"></i><span>بهترین معامله</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img"><img src="{% static 'assets/img/slider/slider-1.png' %}" alt="فهرست مطالب">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="banner-part banner-1">
        <div class="container">
            <div class="row align-items-center rtl">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>خوش آمدید به ارگانیک اولین خرید خود را آغاز کنید</h1>
                        <p>تعداد زیادی از معابر سنگ معدن سنگ معدن کوهی در دسترس است اما اکثریت آنها با طنز تزریق شده یا
                            کلمات تصادفی تغییر شکل داده اند که حتی کمی هم به نظر نمی رسند.</p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="shop-grid.html"><i class="far fa-shopping-cart"></i><span>الان خرید کن</span></a>
                            <a class="btn btn-outline" href="offer.html"><i class="far fa-badge-percent"></i><span>بهترین معامله</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img"><img src="{% static 'assets/img/slider/slider-2.png' %}" alt="فهرست مطالب">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
